:root {
    --danger: #F27405;
  }

  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
  
  .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .btn:hover {
    background-color: #eba96f;
    color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  
  /* Button Colors and Styles */
  
  .btn--primary--solid {
    background-color: white;
    color: var(--danger);
    border: none;
  }
  
  .btn--warning--solid {
    background-color: var(--warning);
    color: var(--dark);
    border: none;
  }
  
  .btn--danger--solid {
    background-color: var(--danger);
    color: var(--white);
    border: none;
  }
  
  .btn--success--solid {
    background-color: var(--success);
    color: var(--white);
    border: none;
  }
  
  .btn--primary--outline {
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
  }
  
  .btn--warning--outline {
    background-color: transparent;
    border: 2px solid var(--warning);
    color: var(--warning);
  }
  
  .btn--danger--outline {
    background-color: transparent;
    border: 2px solid var(--danger);
    color: var(--danger);
  }
  
  .btn--icon--outline {
    background-color: transparent;
    box-shadow: 0 0 0px transparent;
    color: var(--danger);
  }

  .btn--icon--outline:hover {
    background-color: transparent;
    box-shadow: 0 0 0px transparent;
    color: #ffba7e;
  }

  .btn--makkelijk--solid {
    background-color: rgb(60, 165, 60);
    color: white;
    border: none;
  }

  .btn--gemiddeld--solid {
    background-color: rgb(228, 228, 89);
    color: rgb(26, 26, 26);
    border: none;
  }

  .btn--moeilijk--solid {
    background-color: rgb(216, 64, 64);
    color: white;
    border: none;
  }

  .btn--moeilijk--solid:hover {
    background-color: rgb(218, 109, 109);
    color: white;
    border: none;
  }

  .btn--gemiddeld--solid:hover {
    background-color: rgb(226, 226, 118);
    color: rgb(26, 26, 26);
    border: none;
  }

  .btn--makkelijk--solid:hover {
    background-color: rgb(137, 212, 137);
    color: white;
    border: none;
  }


  
  /* Button Size */
  
  .btn--small {
    padding: 10px 10px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn--medium {
    padding: 50px 50px;
    font-size: 22px;
  }
  
  .btn--large {
    padding: 50px 100px;
    font-size: 39px;
  }
  